<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
body{
  background: lightblue;
}
div.a{
  padding-top: 20px;
  padding-left: 20px;
}
</style>
<body>
<div class="a">
  {% include "header.html" %}
<ul>
<h4 class="display-5">Cambridge institute of Technology !!</h4>
<br>
<hr>
</ul>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Motivation</h3>
      <p>It always seems impossible until it's done. ...</p>
      <p>Failure will never overtake me if my  </p>
        <p>determination to succeed is strong enough. ...</p>
    </div>
    <div class="col-sm-4">
      <h3>Hardwork</h3>
      <p>A dream doesn't become reality through magic;</p>
      <p>it takes sweat, determination and hard work. ...</p>
    </div>
    <div class="col-sm-4">
      <h3>Dedication</h3>
      <p>The price of success is hard work, dedication to the job at hand</p>
      <p>and the determination that whether we win or lose, we have applied</p>
      <p> the best of ourselves to the task at hand. ...</p>
    </div>
  </div>
</div>

</body>
</html>
