{% extends "mainpage.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Donation request</h1>
    <p class="lead">Please fill in this form to create the donation request</p>
</div>
<div >
  <form method="POST" action="#" class="col-sm-6" style="margin: auto; padding: 2rem 0;">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text"  placeholder="Enter your Name" maxlength="20" name="name" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Sex</label>
        <input type="text"  placeholder="MALE/FEMALE/OTHER" maxlength="6" name="sex" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="">Phone No.</label>
        <input type="number" placeholder="mobile number/telephone number" name="phno" maxlength="10" required class="form-control" id="" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="">Age</label>
        <input type="number" placeholder="Numeric" maxlength="2" name="age" required class="form-control" id="InputPassword1">
      </div>
      <div class="form-group">
        <label for="">Blood Group</label>
        <input type="text" placeholder="A+,B+,O+,O-,AB+,AB-" maxlength="3" name="bloodgroup" required class="form-control" id="InputPassword1">
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <input type="text" placeholder="short address" maxlength="20" name="address" required class="form-control" id="InputPassword1">
      </div>
      <p>By creating a donation request you agree to our Terms & Privacy.</p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
